src/main/mule/unitedflightsbydestination.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="unitedflightsbydestinationFlow" doc:id="1c5567a9-9cf5-4a11-9d3c-196c35e111d6" >
		<logger level="INFO" doc:name="Logger" doc:id="b03064dc-f92f-4c19-8893-793943f5c9a5" message="unitedflightsbydestinationflow........................."/>
		<http:request method="GET" doc:name="Request" doc:id="e99f7e81-353d-4773-9502-01408f56f893" config-ref="HTTP_Request_configuration" path="/united/flights/{to}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	to : attributes.uriParams.destination
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="9513b1ed-0e30-4a40-8822-b303996e2815" message="FINAL RESPONSE..........."/>
	</flow>
</mule>
